
body{
    main{
        section{
            article{
                .div__maps{
                    margin: 2px;
                    padding: 5px;
                    background-color: black;
                    width: 80%;
                    align-self: center;
                    }
                }
            }
        }
    }


@media(min-width: 1024px){
body{
    main{
        section{
            article{
                .div__maps{
                    background-color: grey;
                    border-style: solid;
                    border-color: black;
                    width: 80%;
                    margin: 20px;
                    }
                    .ubicacion__img{
                        padding: 2px;
                        width: 100%;
                    }
                }
            }
        }
    }
}